<a href="https://colab.research.google.com/github/xalejandrow/machine-learning-prework/blob/main/03-pandas/03.1-Intro-To-Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/4GeeksAcademy/machine-learning-prework/blob/main/03-pandas/assets/pandas_logo.jpg?raw=1)



## Introduction to Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

## What is Pandas?

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.


## Installing Pandas

When you want to work with Pandas locally, you should run the following commands:

`pip install pandas`\
or\
`conda install pandas`

In our case, 4Geeks have prepared all the environment in order that you can work comfortably.

## Why use Pandas?

Pandas allows us to analyze big data and make conclusions based on statistical theories. It can clean messy data sets, and make them readable, relevant and clear. Relevant data is very important in data science.

But the main reason is that Pandas allows you to deal with a new structure of data: dataframes.

A dataframe is a two-dimensional data structure in which data of different types (such as characters, integers, floating-point values, factors, and more) can be stored in columns. It is similar to an SQL spreadsheet or table of excel. A dataframe always has an index (starting at 0), that refers to the position of an element in the data structure.

> Pandas provides tools that allow:

- Read and write data in different formats: CSV, Microsoft Excel, SQL databases and HDF5 format.

- Easily select and filter data tables based on position, value, or labels.

- Merge and join data.

- Time series manipulation.

- Make graphs (plots).


> In Pandas there are three basic types of objects, all of them based on Numpy:

- Series (lists, 1D).

- DataFrame (tables, 2D).

- Panels (tables, 3D).

#### Exercise: Import the Pandas package under the name `pd` (★☆☆)

To import a new library in Python we have to use the import statement like this: `import <library_name> as <your_alias>`.

Use the `import` statement in Python to import the Pandas module under the alias `pd`. 

If you want to be sure that the library was correctly imported, remember you can print the version of any Python library with: `name_of_package.__version__`

In [2]:
import pandas as pd
import numpy as np

## Pandas data types

Pandas has three different data structures:

- Series: One-dimensional structure.
- DataFrame: Two-dimensional structure (tables).
- Panel: Three-dimensional structure (cubes and less used).

These structures are built from arrays from the NumPy library, adding new functionalities.


<img src="https://github.com/4GeeksAcademy/machine-learning-prework/blob/main/03-pandas/assets/series_dataframe.png?raw=1" width="600"/>

## Object creation

Creating a Series by passing a list of values, letting Pandas create a default integer index:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In the previous exercise, we have created a Pandas series (a one-dimensional vector or array) from a list. 

In the following exercise, we ask you to create a one-dimensional vector but this time from another Python structure.

#### Exercise: Create a Pandas series from each of the items below: a list, Numpy and a dictionary (★☆☆)

In [6]:
#list
lst = ['G','E','E','K','S','F',
       'O','R','G','E','E','K','S']
# forming series
s = pd.Series(lst)
# output
print(s,"\n")

# simple dict
dct = {'G':2,'E':4,'K':2,'S':2,
       'F':1,'O':1,'R':1}
# forming series
s = pd.Series(dct) 
# output
print(s,"\n")

# import pandas as pd
#import pandas as pd 
# import numpy as np
#import numpy as np
# numpy array
arr = np.array(['G','E','E','K','S','F',
                'O','R','G','E','E','K','S'])
# forming series
s = pd.Series(arr)
# output
print(s)

0     G
1     E
2     E
3     K
4     S
5     F
6     O
7     R
8     G
9     E
10    E
11    K
12    S
dtype: object

G    2
E    4
K    2
S    2
F    1
O    1
R    1
dtype: int64

0     G
1     E
2     E
3     K
4     S
5     F
6     O
7     R
8     G
9     E
10    E
11    K
12    S
dtype: object

#### Exercise: Now, try to create a `dataframe` of one column from a Pandas series (★☆☆)

>Check the function: `to_frame` (https://pandas.pydata.org/docs/reference/api/pandas.Series.to_frame.html)

In [9]:
s = pd.Series(["a", "b", "c"],name="vals")
s.to_frame()
print(s)

0    a
1    b
2    c
Name: vals, dtype: object

#### Exercise: How to combine many series to form a dataframe? (★☆☆)
Create two series with names `ser1` and `ser2` to form a dataframe. That is, a two columns dataframe from the series `ser1` and `ser2`.

In [14]:
# Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8]) 

# Create Frame
#frame = [ser1, ser2]
frame = {'Serie1': ser1, 'Serie2':ser2}

# Create DataFrame
df = pd.DataFrame(frame)
print(df)

   Serie1  Serie2
0       1       4
1       2       5
2       3       6
3       4       7
4       5       8

#### Exercise: How to convert a numpy array to a dataframe of a given shape? (★☆☆)
Reshape a random series into a dataframe with 7 rows and 5 columns. In this exercise, you have to create a one-dimensional array of length 35 and then you will have to convert that array into a dataframe

In [16]:
#import pandas as pd
#import numpy as np
# Input
p = pd.Series(np.random.randint(1, 7, 35))
print("p: \n",p)
info = pd.DataFrame(p.values.reshape(7,5))
print("info: \n",info)

p:
 0     5
1     3
2     1
3     3
4     6
5     3
6     3
7     2
8     6
9     4
10    5
11    4
12    4
13    2
14    2
15    6
16    5
17    4
18    2
19    6
20    4
21    3
22    1
23    5
24    1
25    3
26    5
27    1
28    6
29    4
30    4
31    3
32    1
33    1
34    1
dtype: int64
info:
    0  1  2  3  4
0  5  3  1  3  6
1  3  3  2  6  4
2  5  4  4  2  2
3  6  5  4  2  6
4  4  3  1  5  1
5  3  5  1  6  4
6  4  3  1  1  1

#### Exercise:  How to extract items at given positions from a series (★☆☆)
You can also create series and dataframe that contain strings. From the following Pandas series `ser`, extract the items at positions in the list `pos`.

> Check `take` from Pandas: (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.take.html)

In [17]:
# Input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

print("Original Series:")
print(ser)
result = ser.take(pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Extract items at given positions of the said series:
0     a
4     e
8     i
14    o
20    u
dtype: object

#### Exercise:  How to stack two series vertically and horizontally ?
Create two series `ser1` and `ser2` and stack them vertically and horizontally (to form a dataframe). 

>Check `concatenate` from Pandas: (https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

In [3]:
ser1 = pd.Series(range(10))
ser2 = pd.Series(list('abcdefghij'))
print("Original Series:")
print(ser1)
print(ser2)
ser1.append(ser2)
df = pd.concat([ser1, ser2], axis=1)
print("\nStack two given series vertically and horizontally:")
print(df)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

Stack two given series vertically and horizontally:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
5  5  f
6  6  g
7  7  h
8  8  i
9  9  j

#### Exercise: How to get the positions of items of series A in another series B? (★★☆)

Get the positions of items of `ser2` in `ser1` as a list. 

> Note: Remember the function `where` from Numpy (https://numpy.org/devdocs/reference/generated/numpy.where.html)

In [5]:
ser1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
ser2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(ser1)
print(ser2)
result = [pd.Index(ser1).get_loc(i) for i in ser2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

#### Exercises: How to get the elements that are not common to both series A and series B? (★☆☆)

Extract the elements that are not common from the `ser1` and `ser2` arrays that we define below.

>Check the functions `union1d` and `intersect1d` of Numpy: https://numpy.org/doc/stable/reference/generated/numpy.union1d.html and https://numpy.org/doc/stable/reference/generated/numpy.intersect1d.html.

Note: Remember that **Numpy and Pandas work Together**

In [7]:
## Input

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13]) 

print("Original Series:")
print("ser1:")
print(ser1)
print("ser2:")
print(ser2)
print("\nItems of a given series not present in another given series:")
ser11 = pd.Series(np.union1d(ser1, ser2))
ser22 = pd.Series(np.intersect1d(ser1, ser2))
result = ser11[~ser11.isin(ser22)]
print(result)

Original Series:
ser1:
0    10
1     9
2     6
3     5
4     3
5     1
6    12
7     8
8    13
dtype: int64
ser2:
0     1
1     3
2    10
3    13
dtype: int64

Items of a given series not present in another given series:
2     5
3     6
4     8
5     9
7    12
dtype: int64

#### Exercise: How to compute difference of differences between consecutive numbers of a series? (★★☆)
Difference of differences between the consecutive numbers of `ser`.

In [9]:
## Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

## Output should be like following
# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
print("Original Series:")
print(ser)
print("\nDifference of differences between consecutive numbers of the said series:")
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

Original Series:
0     1
1     3
2     6
3    10
4    15
5    21
6    27
7    35
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

## Apply functions to a series
It is also possible to apply a function to each element of the series using the following method:

`s.apply(f)`: Returns a series with the result of applying the function f to each of the elements of the series s.

### Example:
```
import pandas as pd
from math import log
s = pd.Series([1, 2, 3, 4])
s.apply(log)
```

#### Exercise: Convert all values of a Pandas series of strings to upper (★☆☆)

You have to create a series of strings with random values and then convert each string to capital letters.

>Check upper in Pandas: (https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html)

#### Exercise: Get all values greater than 5 from a Pandas series (★☆☆)

Remember that you can create series and dataframes from dictionaries. In this exercise you will have to get all values greater than 5.

In [23]:
## Input
s = pd.Series({'Math': 6.0,  'Economy': 4.5, 'Programming': 8.5})
df = pd.DataFrame(s)
print(df)
df.columns = ['value']
print(df)
print(df[df['value'] > 5])

               0
Math         6.0
Economy      4.5
Programming  8.5
             value
Math           6.0
Economy        4.5
Programming    8.5
             value
Math           6.0
Programming    8.5

#### Exercise: Sort a series. Sort the series from the previous exercise in both, ascending and descendant order (★☆☆)
The following methods are used to sort a series:

`s.sort_values (ascending = Boolean)`: Returns the series that results from ordering the values in the series s. If the argument of the ascending parameter is True the order is increasing and if False it is decreasing.

`df.sort_index (ascending = Boolean)`: Returns the series that results from sorting the index of the series s. If the argument of the ascending parameter is True the order is increasing and if it is False, decreasing.

In [27]:
s = pd.Series({'Math': 6.0,  'Economy': 4.5, 'Programming': 8.5})
print("Original Serie:\n",s)
sorted = s.sort_values()
print("Sorted Serie:\n",sorted)

Original Serie:
 Math           6.0
Economy        4.5
Programming    8.5
dtype: float64
Sorted Serie:
 Economy        4.5
Math           6.0
Programming    8.5
dtype: float64

#### Exercise: Eliminate the unknown (`NA`) values in a series.  Drop the NAs values from the series

Unknown data is represented in Pandas by `NaN` and `null`. Both are usually a problem when performing some data analysis, so it is common to eliminate them. To remove them from a series the following method is used:

`s.dropna ()`: Removes the unknown or null data from the s series.

In [32]:
## Input
import pandas as pd
import numpy as np
s = pd.Series(['a', 'b', None, 'c', np.NaN,  'd'])
droped = s.dropna()
print("Serie:\n",s)
print("\n Drop NA:\n",droped)

Serie:
 0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

 Drop NA:
 0    a
1    b
3    c
5    d
dtype: object

## The DataFrame object class

An object of type DataFrame defines a set of data structured in the form of a table where each column is an object of type Series, that is, all the data in the same column are of the same type, and the rows are records that can contain data from Different types.

A DataFrame contains two indexes, one for the rows and one for the columns, and its elements can be accessed by the names of the rows and columns.

Example: The following DataFrame contains information about the students in a course. Each row corresponds to a student and each column to a variable.

![alt text](./assets/df.png "df")

## Creating a DataFrame from a CSV or Excel file

Depending on the type of file, there are different functions to import a DataFrame from a file.

- `read_csv`: Returns an object of type DataFrame with the data from the CSV file (file.csv) using as separator of the data the string separator.

- `read_excel`: Returns an object of type DataFrame with the data from the spreadsheet sheet of the Excel file (file.xlsx).

## The Titanic dataset 
The Titanic dataset is famous and "funny" in the area of data science. It is commonly used for beginners in order to know how to fit a machine learning model. The competition is simple: use machine learning to create a model that predicts which passengers survived the Titanic shipwreck.

The dataset consists of the following variables.


| Variable | Definition                                 | Key                                            |
|----------|--------------------------------------------|------------------------------------------------|
| survival | Survival                                   | 0 = No, 1 = Yes                                |
| pclass   | Ticket class                               | 1 = 1st, 2 = 2nd, 3 = 3rd                      |
| sex      | Sex                                        |                                                |
| Age      | Age in years                               |                                                |
| sibsp    | # of siblings / spouses aboard the Titanic |                                                |
| parch    | # of parents / children aboard the Titanic |                                                |
| ticket   | Ticket number                              |                                                |
| fare     | Passenger fare                             |                                                |
| cabin    | Cabin number                               |                                                |
| embarked | Port of Embarkation                        | C = Cherbourg, Q = Queenstown, S = Southampton |


In the following exercise you will have to get some insights about this dataset. An insight is just derived information you can get from a dataset like the mean of age for example.

#### Exercise: Read the data `titanic_train.csv` located in the assets folder (★☆☆)

#### Exercise: File export. Export the previous Dataframe separated by semicolon (;) and name it as "`your_name.txt`" (★☆☆)

There are also functions to export a DataFrame to a file with different formats.

- `df.to_csv (file.csv, sep = separator, columns = Boolean, index = Boolean)`: Exports the DataFrame (df) to the file file.csv in CSV format using the separator string as data separator.

- `df.to_excel (file.xlsx, sheet_name = sheet, columns = Boolean, index = Boolean)`: Exports the DataFrame (df) to the spreadsheet of the file file.xlsx in Excel format.

## Attributes of a DataFrame
There are several properties or methods for viewing the characteristics of a DataFrame.

- `df.info()`: Returns information (number of rows, number of columns, indexes, type of columns and used memory) about the DataFrame df.

- `df.shape`: Returns a tuple with the number of rows and columns of the DataFrame df.

- `df.size`: Returns the number of elements in the DataFrame.

- `df.columns`: Returns a list with the names of the columns of the DataFrame df.

- `df.index`: Returns a list with the names of the rows in the DataFrame df.

- `df.dtypes`: Returns a series with the data types of the columns of the DataFrame df.

- `df.head(n)`: Returns the first n rows of the DataFrame df.

- `df.tail(n)`: Returns the last n rows of the DataFrame df.

#### Exercise: Read the dataframe exported as "`your_name.txt`" and print all the previous attributes taking `n = 10` (★☆☆)

#### Exercise: Change the name of columns of the above data frame using two different methos (★★☆) 

>Check the function `rename`: (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html)

Note: Remember you can get the name of columns using `df.columns`.

#### Exercise: Change the index of the above data frame using two different methods (★★☆) 

>Check `iloc`: (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

#### Exercise: Get the position (3,5) from the dataframe `your_name.txt`  (★☆☆)

#### Exercise: Get the 10-th value from the column "Ticket" from the Dataframe `your_name.txt`  (★☆☆)

#### Exercise: Add columns to a DataFrame. Create a random array and a random list and add them to the dataframe coming from  `your_name.txt` (★☆☆)
The procedure for adding a new column to a DataFrame is similar to adding a new pair to a dictionary, but passing the column's values in a list or series.

#### Exercise: Create or subset a Dataframe. Subset the dataframe coming from `your_name.txt` by male registers using two different methods (★★☆)
Remember the function `where` from `numpy`

## Descriptive summary of a DataFrame
As for strings, the following methods allow you to summarize the information in a DataFrame by columns:

- `df.count()`: Returns a series number of elements that are not null or NaN in each column of the DataFrame df.

- `df.sum()`: Returns a series with the sum of the data of the columns of the DataFrame df when the data is of a numeric type, or the concatenation of them when they are of the string type str.

- `df.cumsum()`: Returns a DataFrame with the cumulative sum of the data in the columns of the DataFrame df when the data is of a numeric type.

- `df.min()`: Returns a series with the minors of the data of the columns of the DataFrame df.

- `df.max()`: Returns a series with the largest of the data in the columns of the DataFrame df.

- `df.mean()`: Returns a series with the mean of the data in the columns of the DataFrame df when the data is of a numeric type.

- `df.std()`: Returns a series with the standard deviations of the data in the columns of the DataFrame df when the data is of a numeric type.

- `df.describe(include = type)`: Returns a DataFrame with a statistical summary of the columns of the DataFrame df of type (type). For numerical data(number), the mean, standard deviation, minimum, maximum and quartiles of the numeric columns are calculated. For non-numeric data(object) the number of values, the number of distinct values, the mode and their frequency are calculated. If the type is not indicated, only the numeric columns are considered.

#### Exercise: Make a description of the dataset `your_name.txt` (★☆☆)

#### Exercise: Remove the column Ticket from your DataFrame (★☆☆)

#### Exercise: Sort the Dataframe by the Age column  (★★☆)
>Check the functions `df.sort_values` and `df.sort_index`

#### Exercise: Drop the rows of your Dataframe that contain na values (★★☆)

#### Exercise: Subset the rows where Age values are greater than 18 (★★☆)

#### Exercise: Subset the rows where Age values are greater than 18 and less than 5 and get the number of rows  (★★☆)

#### Exercise: Normalize the column Age (★★☆)

> Note: Remember from probability (https://en.wikipedia.org/wiki/Normalization_(statistics) that :

$$ x_{norm} = \frac{x - \bar{x}}{\sigma}$$

#### Exercise: Consider two random arrays A and B, check if they are equal (★★☆)

#### Exercise: How to set the number of rows and columns to display in the output? (★★★)

>Check teh function `set_option` from Pandas

#### Exercise: How to join two dataframes by 2 columns so they have only the common rows? (★★★)
Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
## Input

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

#### Exercise: How to get the positions where values of two columns match? (★★★)
Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
## Input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})